In [1]:
# -- SQL_Connection to local Postgres SQL Database

# Resources for connection help:
# -- https://medium.com/analytics-vidhya/postgresql-integration-with-jupyter-notebook-deb97579a38d
# -- https://overiq.com/sqlalchemy-101/installing-sqlalchemy-and-connecting-to-database/

# Load ipython-sql to use and store SQL commands in notebook
%load_ext sql

In [2]:
# Import dependencies 
import pandas as pd 
import numpy as np 
from sqlalchemy import create_engine

# Import connection string from config file
from config import db_password
from config import port_number 
from config import db_name

In [3]:
# Connect sqlalchemy to database using connection string

db_string = f"postgres://postgres:{db_password}@localhost:{port_number}/{db_name}"

# -- Alternate db_string for engine connection, update host and DB connection as needed. 
# db_string = f"postgres://postgres:{db_password}@127.0.0.1:54642/SteamDB"

engine = create_engine(db_string)

print(engine)

Engine(postgres://postgres:***@localhost:5433/SteamDB)

In [6]:
# Create Popular Tags dataframe from SQL table

popular_tags = pd.read_sql('SELECT * FROM populartags', engine)

popular_tags.head()

,game_name,percent_positive_reviews,popular_tags,tag_1980s,tag_1990s,tag_2_5d,tag_2d,tag_2d_fighter,tag_3d,tag_3d_platformer,...,video_production,violent,visual_novel,voxel,walking_simulator,war,wargame,web_publishing,world_war_ii,zombies
0,COUNTER-STRIKE,100.0,"Action,FPS,Multiplayer,Shooter,Classic,Team-Ba...",True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,TEAM FORTRESS CLASSIC,100.0,"Action,FPS,Multiplayer,Classic,Shooter,Team-Ba...",False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,DAY OF DEFEAT,100.0,"FPS,World War II,Multiplayer,Shooter,Action,Wa...",False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
3,DEATHMATCH CLASSIC,100.0,"Action,FPS,Classic,Multiplayer,Shooter,First-P...",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,HALF-LIFE: OPPOSING FORCE,100.0,"FPS,Action,Classic,Sci-fi,Singleplayer,Shooter...",False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
# Create Game Genre dataframe from SQL table 

genre_df = pd.read_sql('SELECT * FROM gamegenres', engine)

genre_df.head()

,game_name,percent_positive_reviews,genre,action,adventure,casual,design_and_illustration,early_access,free_to_play,indie,massively_multiplayer,rpg,racing,simulation,sports,strategy,utilities
0,ZUMA'S REVENGE!,100.0,"Action,Casual",True,False,True,False,False,False,False,False,False,False,False,False,False,False
1,ZUMA DELUXE,100.0,Casual,False,False,True,False,False,False,False,False,False,False,False,False,False,False
2,ZOMBIE SHOOTER 2,100.0,"Action,Indie,RPG",True,False,False,False,False,False,True,False,True,False,False,False,False,False
3,ZOMBIE SHOOTER,100.0,"Action,Indie,RPG",True,False,False,False,False,False,True,False,True,False,False,False,False,False
4,ZOMBIE PANIC! SOURCE,100.0,"Action,Free to Play,Indie",True,False,False,False,False,True,True,False,False,False,False,False,False,False