In [1]:
# -- SQL_Connection to local Postgres SQL Database

# Resources for connection help:
# -- https://medium.com/analytics-vidhya/postgresql-integration-with-jupyter-notebook-deb97579a38d
# -- https://overiq.com/sqlalchemy-101/installing-sqlalchemy-and-connecting-to-database/

# Load ipython-sql to use and store SQL commands in notebook
%load_ext sql

In [2]:
# Import dependencies 
import pandas as pd 
import numpy as np 
from sqlalchemy import create_engine

# Import connection string from config file
from config import db_password
from config import port_number 
from config import db_name

In [3]:
# Connect sqlalchemy to database using connection string

db_string = f"postgres://postgres:{db_password}@localhost:{port_number}/{db_name}"

# -- Alternate db_string for engine connection, update host and DB connection as needed. 
# db_string = f"postgres://postgres:{db_password}@127.0.0.1:54642/SteamDB"

engine = create_engine(db_string)

print(engine)

Engine(postgres://postgres:***@localhost:5433/SteamDB)

In [4]:
# Create Popular Tags dataframe from SQL table

popular_tags = pd.read_sql('SELECT * FROM populartags', engine)

popular_tags.head()

,game_name,percent_positive_reviews,popular_tags,tag_1980s,tag_1990s,tag_2_5d,tag_2d,tag_2d_fighter,tag_3d,tag_3d_platformer,...,video_production,violent,visual_novel,voxel,walking_simulator,war,wargame,web_publishing,world_war_ii,zombies
0,COUNTER-STRIKE,97.0,"Action,FPS,Multiplayer,Shooter,Classic,Team-Ba...",True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,TEAM FORTRESS CLASSIC,84.0,"Action,FPS,Multiplayer,Classic,Shooter,Team-Ba...",False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,DAY OF DEFEAT,90.0,"FPS,World War II,Multiplayer,Shooter,Action,Wa...",False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
3,DEATHMATCH CLASSIC,83.0,"Action,FPS,Classic,Multiplayer,Shooter,First-P...",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,HALF-LIFE: OPPOSING FORCE,95.0,"FPS,Action,Classic,Sci-fi,Singleplayer,Shooter...",False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
# Import our Dependencies 
import pandas as pd 
import numpy as np

## For this dataset, I decided to do the classification model. I then used the pd.cuts method to see how best to classify the website_rating column. After doing a value.counts I noticed that the data was significantly skewed. I then resorted to using qcuts instead, in which pandas automatically cut the data into an even amount of quantiles. The commented cells below show the method I was trying with the regular cuts, and after that I used qcuts.

In [6]:
# Define bins as 0 to 80 for unpopular, 80 - 100 as popular
bins = [0,75,100]

In [7]:
# 0 = unpopular, 1 = popular
group_names = [0,1]

In [8]:
# Cut the data based on the percent_positive_reviews and bin them into a column named classification
popular_tags['classification'] = pd.cut(popular_tags['percent_positive_reviews'], bins, labels = group_names)

In [9]:
popular_tags.head()

,game_name,percent_positive_reviews,popular_tags,tag_1980s,tag_1990s,tag_2_5d,tag_2d,tag_2d_fighter,tag_3d,tag_3d_platformer,...,violent,visual_novel,voxel,walking_simulator,war,wargame,web_publishing,world_war_ii,zombies,classification
0,COUNTER-STRIKE,97.0,"Action,FPS,Multiplayer,Shooter,Classic,Team-Ba...",True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1
1,TEAM FORTRESS CLASSIC,84.0,"Action,FPS,Multiplayer,Classic,Shooter,Team-Ba...",False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,1
2,DAY OF DEFEAT,90.0,"FPS,World War II,Multiplayer,Shooter,Action,Wa...",False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,True,False,1
3,DEATHMATCH CLASSIC,83.0,"Action,FPS,Classic,Multiplayer,Shooter,First-P...",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1
4,HALF-LIFE: OPPOSING FORCE,95.0,"FPS,Action,Classic,Sci-fi,Singleplayer,Shooter...",False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1

In [10]:
# 1989 games were classified as unpopular and 4224 games were classified as popular
popular_tags['classification'].value_counts()

1    4211
0    1977
Name: classification, dtype: int64

In [11]:
# drop the columns that have strings
popular_tags = popular_tags.drop(['game_name', 'percent_positive_reviews', 'popular_tags'], axis = 1)

In [12]:
# Print the dataframe
popular_tags.head()

,tag_1980s,tag_1990s,tag_2_5d,tag_2d,tag_2d_fighter,tag_3d,tag_3d_platformer,tag_4_player_local,tag_4x,abstract,...,violent,visual_novel,voxel,walking_simulator,war,wargame,web_publishing,world_war_ii,zombies,classification
0,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1
1,False,True,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,1
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,True,False,1
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1
4,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1

In [13]:
## Separate the Features (X) from the Target (y)

In [14]:
y = popular_tags['classification']
X = popular_tags.drop(columns='classification')

In [15]:
y.value_counts()

1    4211
0    1977
Name: classification, dtype: int64

In [16]:
 ## Split our data into training and testing

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(4641, 224)

In [18]:
 ## Create a Logistic Regression Model

In [19]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

In [20]:
 ## Fit (train) or model using the training data

In [21]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [22]:
 ## Make predictions

In [23]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction Actual
0            1      0
1            0      0
2            1      1
3            1      1
4            1      1
5            1      0
6            1      1
7            0      1
8            1      1
9            1      1
10           1      1
11           1      1
12           0      0
13           0      1
14           1      1
15           1      1
16           1      1
17           0      0
18           0      0
19           0      1

In [24]:
# Predict Accuracy Score
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.7349709114414997

## The logistic regression model gave us an accuracy score of about 73%.

In [25]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[203 291]
 [119 934]]

In [26]:
report = classification_report(y_test, y_pred)
print(report)

precision    recall  f1-score   support

           0       0.63      0.41      0.50       494
           1       0.76      0.89      0.82      1053

    accuracy                           0.73      1547
   macro avg       0.70      0.65      0.66      1547
weighted avg       0.72      0.73      0.72      1547

## The accuracy of the logistic regression came out to about 0.73. The precision of both unpopular and popular games were 63% and 75% respectively. With 75% being the precision score for popular games, its safe to say that popular games are much preciser in judging based on the model.

# The next model we decided to test out was the Random Forest model

In [27]:
from path import Path 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.preprocessing import StandardScaler

In [28]:
# Define the features set.
X = popular_tags.copy()
X = X.drop("classification", axis=1)
X.head()

,tag_1980s,tag_1990s,tag_2_5d,tag_2d,tag_2d_fighter,tag_3d,tag_3d_platformer,tag_4_player_local,tag_4x,abstract,...,video_production,violent,visual_novel,voxel,walking_simulator,war,wargame,web_publishing,world_war_ii,zombies
0,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [29]:
# Define the target set.
y = popular_tags["classification"].values
y[:5]

[1, 1, 1, 1, 1]
Categories (2, int64): [0 < 1]

In [30]:
# Split the Data into Training and Testing Sets 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [31]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4641, 224)
(1547, 224)
(4641,)
(1547,)

In [32]:
# Splitting into Train and Test sets into an 80/20 split.
X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y, random_state=78, train_size=0.80)

In [33]:
# Determine the shape of our training and testing sets.
print(X_train2.shape)
print(X_test2.shape)
print(y_train2.shape)
print(y_test2.shape)

(4950, 224)
(1238, 224)
(4950,)
(1238,)

In [34]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [35]:
from sklearn import tree
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [36]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)

In [37]:
predictions

array([1, 0, 0, ..., 1, 0, 0], dtype=int64)

In [38]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0          222          267
Actual 1          303          755

In [39]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [40]:
acc_score

0.6315449256625727

In [41]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          222          267
Actual 1          303          755

Accuracy Score : 0.6315449256625727
Classification Report
              precision    recall  f1-score   support

           0       0.42      0.45      0.44       489
           1       0.74      0.71      0.73      1058

    accuracy                           0.63      1547
   macro avg       0.58      0.58      0.58      1547
weighted avg       0.64      0.63      0.63      1547